/* Import other styles here */

/*
  1. Global Style only
  2. One implemented can use everywhere
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-home);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Base style*/
:root {
  --background-home: #f8f9fa;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
}
